<!DOCTYPE html>

<html lang="en-us" class="no-js">
{% include head.html %}


<body>
{% include loading.html %}

{% if page.url != '/' %}
    <input type="checkbox" class="sidebar-checkbox" id="sidebar-checkbox">
    {% include sidebar-nav.html %}

{% endif %}

<article class="postWrapper">

        <div id="slideshow">
            {{ content }}
        </div>



</article>

<div id="previous"><i class="fa fa-chevron-left" ></i></div>
<div id="next"><i class="fa fa-chevron-right" ></i></div>


{% include modal.html %}
<style class="embedly-css">
    .card .hdr {
        display:none;
    }
</style>

{% if page.url != '/' %}
    {% include sidebar-toggle.html %}
{% endif %}



{% include footer-scripts.html %}
<script type="text/javascript" src="{{ site.baseurl }}assets/javascripts/slider.js"></script>
</body>
</html>
